/* En tu archivo app.css */

/* Estilos generales para la barra de navegación */
.navbar {
  background-color: green;
  padding: 10px;
  border-radius: 10px; /* Agrega bordes redondeados */
}

/* Estilos para el logo */


/* Estilos para los enlaces de navegación */
.navbar-nav a {
  color:green;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover {
  color: green;
}

/* Estilos para el botón de alternancia en pantallas pequeñas */


/* Estilos para el indicador de página */
.page-indicator {
  color: green;
  font-size: 14px;
}
